* {
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}
.TTT-Board {
    display: grid;
    justify-content: center;
    grid-template-rows: 10vmin 10vmin 10vmin;
    grid-template-columns: 10vmin 10vmin 10vmin;
}

.TTT-Zone {
    border: 1px solid;
    justify-content: center;
    align-items: center;
    font-size: 8vmin;
}

#Zone-0-0, #Zone-0-1, #Zone-0-2 {
    border-top-color: transparent;
}
#Zone-0-2, #Zone-1-2, #Zone-2-2 {
    border-right-color: transparent
}

#Zone-2-2, #Zone-2-1, #Zone-2-0 {
    border-bottom-color: transparent
}

#Zone-2-0, #Zone-1-0, #Zone-0-0 {
    border-left-color: transparent;
}

.red {
    color: red;
}
.blue {
    color: blue;
}